<% include ../partials/fight_head %>

<nav class="sidenav lb">
  <ul>
    <li><a href="#" class="item">Home</a></li>
    <li><a href="#" class="item">About</a></li>
    <li><a href="#" class="item">Profile</a></li>
    <li><a href="#" class="item">Logout</a></li>
  </ul>
</nav>
<main>
  <div class="ui grid full_width">
    <div class="center aligned three column row">
      <div class="six wide column">
        <div class="userbox">
          <h2><%= user1.username %></h2>
          <img class="avatar" src="<%= user1.avatar_url %>">
          <ul class="user">
            <li>Wins: <%= user1.wins %></li>
            <li>Losses: <%= user1.losses %></li>
            <li>Money: $<%= user1.money %></li>
            <li>
              <label class="ui big image label">
                <img src="<%= userFighter1.img_url %>">
                <%= userFighter1.slack_name %>
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="four wide column">
        <form class="ui form" action="/fight/<%= user1.id %>/<%= userFighter1.id %>" method="post">
          <label>Choose your loser</label>
          <input name="opponent" list="opponents">
          <datalist id="opponents">
            <% users.forEach(function(user){ %>
              <option value="<%=user.id %>"><%= user.username%></option>
            <% }); %>
          </datalist>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
</main>





<% include ../partials/tail %>
