<% include ../partials/head %>

<nav class="sidenav lb">
  <ul>
    <li class="selected"><a href="#" class="item">Home</a></li>
    <li><a href="#" class="item">About</a></li>
    <li><a href="#" class="active item">Profile</a></li>
    <li><a href="#" class="item">Logout</a></li>
  </ul>
</nav>

<main>
  <div class="ui two column grid full_width">
    <div class="column ctr">
        <h3>Top Players</h3>
        <hr>

        <div class="top5">
          <ol>
            <% for(var x = 0; x < 5; x++){ %>
              <% if(x === 0){ %>
                <li>
                  <div class="playerstat">
                    <img src="<%= user[x].avatar_url %>" alt="">
                    <div class="info">
                      <ul>
                        <li><p><%= user[x].username %></p></li>
                        <li>Wins: <%= user[x].wins %></li>
                        <li>Losses: <%= user[x].losses %></li>
                      </ul>
                    </div>
                  </div>
                </li>
              <% }else{ %>
                <li><img src="<%= user[x].avatar_url %>" alt="" />
                  <div class="info">
                    <ul>
                      <li><p class="bottom4"><%= user[x].username %></p></li>
                      <li>Wins: <%= user[x].wins %></li>
                      <li>Losses: <%= user[x].losses %></li>
                    </ul>
                  </div>
                </li>
              <% } %>
            <% } %>
          </ol>
      </div>
    </div>
    <div class="column ctr">
      <h3>Top Fighter</h3>
      <%if(fighter[0]){%>
        <ul>
          <li><img src="<%= fighter[0].img_url %>" alt="" /></li>
          <li><%= fighter[0].slack_name %></li>
          <li><%= fighter[0].wins %></li>
        </ul>
      <%}%>
      <hr>
      <h3>Most Deaths</h3>
      <%if(fighter[(fighter.length-1)]){%>
        <ul>
          <li><img src="<%= fighter[(fighter.length-1)].img_url %>" alt="" /></li>
          <li><%= fighter[fighter.length-1].slack_name %></li>
          <li><%= fighter[fighter.lenght-1].losses %></li>
        </ul>
      <%}%>
      <hr>
    </div>
  </div>
</main>

<% include ../partials/tail %>
