<% include ../partials/head %>

  <nav class="sidenav lb">
    <ul>
      <li><a href="#" class="item">Home</a></li>
      <li><a href="#" class="item">About</a></li>
      <li class="selected"><a href="#" class="active item">Profile</a></li>
      <li><a href="#" class="item">Logout</a></li>
    </ul>
  </nav>
  <main>
    <div class="userbox">
      <img class="avatar" src="<%= user.avatar_url %>">
      <ul class="user">
        <li><%= user.username%></li>
        <li>Wins: <%= user.wins %></li>
        <li>Losses: <%= user.losses%></li>
        <li>Money: $<%= user.money %></li>
      </ul>
    </div>
    <div class="tablebox">
      <table class="ui very basic celled table">
        <thead>
          <tr>
            <th>Fighter</th>
            <th colspan="2">Weapons</th>
            <th colspan="2">Record</th>
          </tr>
        </thead>
        <tbody>
          <% fighters.forEach(fighter=>{ %>
            <tr>
              <td class="center aligned">
                <label class="ui big image label">
                  <img src="<%= fighter.img_url %>">
                  <%= fighter.slack_name %>
                </label>
              </td>
              <td>
                <%= fighter.weapon %>
              </td>
              <td>
                <%= fighter.strength %>
              </td>
              <td>
                <form action="/fight/<%= user.id %>/<%=fighter.id%>" method="POST">
                  <input class="ui button" name="fighter" value="FIGHT!">
                </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <form action="/fight/buy" method="POST">
        <input class="ui button" type="submit" value="Buy Fighter: $100">
      </form>
    </div>
  </main>

<% include ../partials/tail %>
